<!DOCTYPE html>
<html>
    <head>
        <a class="button" href="/grade" type="button">Grade</a>
        <a class="button" href="/satisfaction" type="button">Satisfaction</a>
        <a class="button" href="/students" type="button">Students</a>
        <a class="button" href="/unit" type="button">Unit</a>
        <a class="button" href="/students/class" type="button">Classes</a>


        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
        <style>
            body{
                background-color: rgb(255, 255, 255);
                color: #000000;
                text-align: center;
            }
            a{
                color: #85b5db;
            }
            a:hover{
                color: #5a4e4e;
            }
/*            table{
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 35%;
                margin: auto;
                border: 1px solid #0980ff;
                padding: 50px;
                box-sizing: border-box;
                border-radius: 5px;
            }
            thead{
                padding: 15px 15px;
            } */
            .button{
                background-color: #dbdbdb;
                border-radius: 3px;
                padding: 5px;
                margin: 5px;
                color: #243a4b;;
            }

        </style>
    </head>
    <body>
        {% if app.user %}
            <p>You're logged in as {{ app.user }} <a href="{{ path('app_logout') }}">Exit</a></p>
        {% endif %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
