<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>4you2 Employees</title>
    <style>
        body {
            background-color: rgb(31, 31, 31);
            color: white;
        }
        form, table {
            width: 35%;
            margin: auto;
            border: 1px solid #ccc;
            padding: 50px;
            box-sizing: border-box;
            border-radius: 5px;
        }
        form > div {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }
        form > div > label {
            font-size: 15pt;
        }
        form > div > input {
            margin-top: 15px;
            font-size: 15pt;
            padding: 5px 10px;
            color: (143, 143, 143);
        }
        table {
            margin-top: 15px;
            text-align: center;
        }
        thead th {
            background: rgb(26, 26, 26);
            color: #fff;
        }
        thead tr th:first-child {
            width:40%;
        }
        tr td:first-child { 
            text-align: left; 
            }
        
    </style>
</head>
<body>
    <form>
        <div>
            <label>Employee Name</label>
            <input type="text" />
        </div>
        <div>
            <label>Position</label>
            <input type="text" />
        </div>
        <div>
            <label>Age</label>
            <input type="number" />
        </div>
        <div>
            <input type="submit" value="Save"/>
        </div>
    </form>
    <table>
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Position</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employee %}
            <tr>
                <td>{{employee.name}}</td>
                <td>{{employee.position}}</td>
                <td>{{employee.age}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>